# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv('City_Data.csv')
# city_data.head()
# city_data.columns
city_data = city_data[['City', 'Cloudiness', 'Country', 'Date', 'Humidity',
       'Lat', 'Lng', 'Max Temp', 'Wind Speed']]
city_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Albany,8,US,1587107617,89,42.60,-73.97,32.00,7.94
1,Vaini,27,TO,1587107620,78,-21.20,-175.20,77.00,15.08
2,Cape Town,20,ZA,1587107337,93,-33.93,18.42,64.99,2.24
3,S達o Jo達o da Barra,80,BR,1587107623,89,-21.64,-41.05,74.43,12.53
4,Campo Formoso,73,BR,1587107625,79,-10.51,-40.32,70.21,6.35

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Store latitude and longitude in locations
lat_lng_locations = city_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
weights_humidity = city_data["Humidity"].astype(float)

# Configure gmaps
gmaps.configure(api_key=g_key)

#maximum intesity 

maxhumidity = weights_humidity.max()

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lng_locations, weights=weights_humidity, 
                                 dissipating=False, max_intensity=maxhumidity,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
#   A max temperature lower than 90 degrees but higher than 60.
#   Wind speed less than 8 mph.
#   Zero cloudiness.
#   Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

new_city_data_df = city_data.loc[((city_data['Max Temp'] <= 90) & (city_data['Max Temp'] >= 60)
                                                 & (city_data['Wind Speed'] < 8) &
                                                 (city_data['Cloudiness'] == 0))]
new_city_data_df.dropna(how ='any')
new_city_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
150,East London,0,ZA,1587107814,72,-33.02,27.91,64.40,5.82
178,Opuwo,0,NaN,1587107849,29,-18.06,13.84,70.12,3.06
200,Dakoro,0,NE,1587107877,15,14.51,6.76,77.11,7.94
207,Flinders,0,AU,1587107885,38,-34.58,150.86,75.99,3.00
208,Araouane,0,ML,1587107887,25,18.90,-3.53,80.69,7.94
227,Sarakhs,0,IR,1587107911,47,36.54,61.16,75.20,3.36
244,Port Shepstone,0,ZA,1587107933,68,-30.74,30.45,67.26,6.73
283,Rio Grande,0,BR,1587107983,100,-32.03,-52.10,60.01,3.00
294,Kabompo,0,ZM,1587107996,65,-13.59,24.20,67.30,5.61
296,Kiama,0,AU,1587107999,38,-34.68,150.87,72.00,3.00
312,Tocopilla,0,CL,1587108019,49,-22.09,-70.20,69.30,5.12
369,Chicama,0,PE,1587108094,66,-7.84,-79.15,74.16,6.17
385,Mossamedes,0,AO,1587108115,66,-15.20,12.15,74.01,7.00
459,Marmaris,0,TR,1587108211,43,36.85,28.27,69.80,3.36
463,Arlit,0,NE,1587108216,13,18.74,7.39,81.55,3.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = new_city_data_df

In [10]:
hotel_df['Hotel Name'] = ""
hotel_df.reset_index()

/Users/DRSetty/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,150,East London,0,ZA,1587107814,72,-33.02,27.91,64.40,5.82,
1,178,Opuwo,0,NaN,1587107849,29,-18.06,13.84,70.12,3.06,
2,200,Dakoro,0,NE,1587107877,15,14.51,6.76,77.11,7.94,
3,207,Flinders,0,AU,1587107885,38,-34.58,150.86,75.99,3.00,
4,208,Araouane,0,ML,1587107887,25,18.90,-3.53,80.69,7.94,
5,227,Sarakhs,0,IR,1587107911,47,36.54,61.16,75.20,3.36,
6,244,Port Shepstone,0,ZA,1587107933,68,-30.74,30.45,67.26,6.73,
7,283,Rio Grande,0,BR,1587107983,100,-32.03,-52.10,60.01,3.00,
8,294,Kabompo,0,ZM,1587107996,65,-13.59,24.20,67.30,5.61,
9,296,Kiama,0,AU,1587107999,38,-34.68,150.87,72.00,3.00,
10,312,Tocopilla,0,CL,1587108019,49,-22.09,-70.20,69.30,5.12,
11,369,Chicama,0,PE,1587108094,66,-7.84,-79.15,74.16,6.17,
12,385,Mossamedes,0,AO,1587108115,66,-15.20,12.15,74.01,7.00,
13,459,Marmaris,0,TR,1587108211,43,36.85,28.27,69.80,3.36,
14,463,Arlit,0,NE,1587108216,13,18.74,7.39,81.55,3.00,

In [11]:

# params for each iteration

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_name = requests.get(base_url, params=params).json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df = hotel_df.dropna(how='any')
hotel_df

/Users/DRSetty/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
150,East London,0,ZA,1587107814,72,-33.02,27.91,64.40,5.82,Tu Casa
200,Dakoro,0,NE,1587107877,15,14.51,6.76,77.11,7.94,boukha ag ghamran
207,Flinders,0,AU,1587107885,38,-34.58,150.86,75.99,3.00,Shellharbour Resort & Conference Centre
208,Araouane,0,ML,1587107887,25,18.90,-3.53,80.69,7.94,
227,Sarakhs,0,IR,1587107911,47,36.54,61.16,75.20,3.36,Sarakhs Abrisham Hotel
244,Port Shepstone,0,ZA,1587107933,68,-30.74,30.45,67.26,6.73,My Den Beachfront B&B And Self-Catering
283,Rio Grande,0,BR,1587107983,100,-32.03,-52.10,60.01,3.00,Swan Express Rio Grande
294,Kabompo,0,ZM,1587107996,65,-13.59,24.20,67.30,5.61,Faroja City Iyindeko Cas-jay
296,Kiama,0,AU,1587107999,38,-34.68,150.87,72.00,3.00,The Sebel Kiama Harbourside
312,Tocopilla,0,CL,1587108019,49,-22.09,-70.20,69.30,5.12,Hotel Galvarino
369,Chicama,0,PE,1587108094,66,-7.84,-79.15,74.16,6.17,Hospedaje Punta Cana PERU
385,Mossamedes,0,AO,1587108115,66,-15.20,12.15,74.01,7.00,Chik-Chik Namibe
459,Marmaris,0,TR,1587108211,43,36.85,28.27,69.80,3.36,Blue Bay Platinum
463,Arlit,0,NE,1587108216,13,18.74,7.39,81.55,3.00,H担tel Telwa Bungalow

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))